{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <!--HEADER START-->
    <div class="main-navigation navbar-fixed-top">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage')}}">MonBlog</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#portfolio">Articles</a></li>
                        <li><a href="#contact">Join our team of authors</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="#about">Our Authors</a></li>
                        <li><a href="#service">Administration</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!--HEADER END-->

    <!--Liste de tout les Articles start-->
    {% include "articles/index.html.twig" %}
    <!--Liste de tout les Articles end-->

    <!--Liste des auteurs START-->
    {% include "author/index.html.twig" %}
    <!--Liste des auteurs END-->
{% endblock %}
